// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review_block {
  margin-top: 20px;
  background-color: rgba(300, 300, 300, 0.3);
  padding: 10px;
}
